/* TEMA DARCK css */

/* tema claro css */
body { background: #ECF0F3; }
#header { background: #fff; }
#header img { background: #fff; }
#header h3 { color: #2196F3; }
#header p { color: #000; }


@media (prefers-color-scheme: dark) {


/* tema escuro css */
body { background: #ECF0F3; }
#header { background: #000; }
#header img { background: #000; }
#header h3 { color: #2196F3; }
#header p { color: #fff; }
